<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KaipNorimPasivadint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A50A82901F458260002DAD45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A50A82A41F458261002DAD45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A50A82AF1F458261002DAD45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
